body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;

}

.wrapper {
  max-width: 1200px;
  min-width: 768px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  position: relative;
  width: 100%;
  margin: 0;

  background-color: #ffffff;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
}

.main-nav {
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 56px;

  list-style: none;
}

.main-nav-list a {
  color: #000000;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  color: #81b3d2;
}

.main-nav-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav-current a {
  color: #766357;
}

.main-nav-item {
  width: 20%;
}

.main-nav-item:nth-child(1) {
  padding-left: 6%;
}

.main-nav-item:nth-child(3) {
  margin-left: auto;
  text-align: right;
}

.main-nav-item:nth-child(4) {
  text-align: right;
  padding-right: 6%;
}

/*Главная страница*/

.intro {
  width: 100%;
  padding-top: 76px;
  padding-bottom: 75px;

  text-align: center;

  background-color: rgba(129, 179, 210, 0.5);
  background-image:
  url("../img/intro-mask.svg"),
  url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position:
  center bottom,
  center 29%;
  background-size:
  100% 57px,
  cover;
  background-clip: padding-box;
}

.general-info {
  width: 576px;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 53px;

  text-align: center;
}

.general-info h1 {
  margin-bottom: 27px;
  margin-top: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  background-color: #ffffff;
}

.general-info p {
  margin-bottom: 0;

  line-height: 26px;
}

.features-list {
  width: 100%;
  margin: 0;

  text-align: center;
  color: #333333;
}

.features-list ol {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.features-list h2,
.features-list h3 {
  font-size: 21px;
  color: #000000;
}


.feature-separate {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  color: #ffffff;

  background-color: #81b3d2;
}

.feature-description {
  box-sizing: border-box;
  width: 33.3334%;
  height: 256px;
  padding-top: 45px;
  padding-left: 4%;
  padding-right: 4%;
}

.feature-description h2 {
  margin: 0;
  margin-bottom: 25px;
}

.feature-separate:first-child h2 {
  padding-left: 15%;
  padding-right: 15%;
}

.feature-description span {
  display: block;
  margin-bottom: 20px;
}

.feature-separate:nth-child(2) .feature-description {
  order: 1;
}

.feature-separate h2 {
  color: #ffffff;
}

.feature-image {
  width: 66.6666%;
  height: 256px;
  overflow: hidden;
}

.feature-image img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  width: 100%;
  height: auto;
}

.services-list {
  width: 100%;
  min-height: 330px;
  box-sizing: border-box;
  display: flex;
  padding-top: 160px;
  padding-left: 0;
  padding-right: 0;

  list-style: none;

  background-color: #ffffff;
}

.services-item {
  width: 33.3334%;

  text-align: center;
}

.services-item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
}

.services-item h3::before {
  content: "";
  position: absolute;
  bottom: 48px;
  left: 50%;
}

.services-item:nth-child(1) h3::before {
  width: 75px;
  height: 72px;
  margin-left: -37px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.services-item:nth-child(2) h3::before {
  width: 74px;
  height: 70px;
  margin-left: -37px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.services-item:nth-child(3) h3::before {
  width: 64px;
  height: 76px;
  margin-left: -32px;
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.services-list p {
  margin: 0;
  padding-left: 14%;
  padding-right: 14%;

  color: #333333;
}

.feature-united {
  box-sizing: border-box;
  width: 33.3334%;
  min-height: 256px;
  padding-top: 45px;
  padding-left: 5%;
  padding-right: 5%;

  background-color: #eeeeee;
}

.feature-united h2 {
  width: 130px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.feature-united span {
  display: block;
  margin-bottom: 22px;
}

.feature-united p {
  margin: 0;
}

.search-hotel {
  position: relative;

  box-sizing: border-box;
  width: 568px;
  min-height: 292px;
  padding-top: 50px;
  margin: 0 auto;

  text-align: center;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

.search-hotel b {
  display: block;
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-hotel > p {
  margin-bottom: 49px;

  font-weight: normal;
  color: #333333;
}

.search-button {
  width: 568px;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #766357;
  border: none;
}

.search-button:hover,
.search-button:focus {
  background-color: #604e43;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal {
  box-sizing: border-box;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 292px;
  margin-left: -284px;

  width: 568px;
  min-height: 395px;
  padding: 55px;

  text-align: left;

  background-color: #ffffff;
}

.search-hotel-form {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-form-item {
  position: relative;
  display: flex;
  align-items: center;

  width: 100%;
  margin: 0;
  margin-bottom: 29px;

  line-height: 26px;
}

.search-form-item input {
  width: 333px;
  height: 38px;
  padding: 0;
  padding-left: 13px;
  margin-left: auto;

  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: none;
}

.item-half-width {
  width: 49%;
}

.item-half-width:last-of-type label {
  margin-left: 45px;
}

.item-half-width input {
  width: 38px;
  padding-left: 0;
  margin-left: 0;

  text-align: center;
}

.amount-button {
  position: relative;
  width: 38px;
  height: 38px;
  padding: 0;

  background-color: #f2f2f2;
}

.amount-less {
  margin-left: auto;
}

.amount-less::before {
  content: "";
  position: absolute;
  top:18px;
  left: 12px;
  width: 12px;
  height: 3px;
  background-color: #a9a9a9;
}

.amount-more::before {
  content: "";
  position: absolute;
  top:18px;
  left: 12px;
  width: 11px;
  height: 3px;
  background-color: #a9a9a9;
}

.amount-more::after {
  content: "";
  position: absolute;
  top:14px;
  left: 16px;
  width: 3px;
  height: 11px;
  background-color: #a9a9a9;
}

.amount-more:hover::after,
.amount-more:hover::before,
.amount-more:focus::after,
.amount-more:focus::before,
.amount-less:hover::before,
.amount-less:focus::before {
  background-color: #000000;
}

.amount-more:active::after,
.amount-more:active::before,
.amount-less:active::before {
  background-color: #81b3d2;
}

.search-form-item input:hover {
  background-color: #ebebeb;
}

.search-form-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-calendar {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  right: 0;
  padding: 0;

  background-color: transparent;
  border: none;
}

.search-form-calendar svg {
  fill: rgba(0, 0, 0, 0.3);
}

.search-form-calendar:hover svg,
.search-form-calendar:focus svg {
  fill: #333333;
}

.search-form-calendar:active svg {
  fill: #81b3d2;
}

.amount-button {
  background-color: #f2f2f2;
  border: none;
}

.modal-search-button {
  width: 458px;
  height: 58px;
  padding: 0;
  margin-top: 25px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
  border: none;
}

.modal-search-button:hover,
.modal-search-button:focus {
  background-color: #669ec0;
}

.modal-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.map {
  width: 100%;
  height: 594px;
  overflow: hidden;
}

.map img {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 594px;
  min-width: 1200px;
}

/*Внутренняя страница*/

.hotel-filters {
  width: 88%;
  min-height: 165px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 26px;
  padding-bottom: 26px;

  color: #ffffff;

  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -290px;
}

.hotel-filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  width: 100%;
}

.hotel-filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.hotel-filter legend {
  margin-bottom: 25px;

  font-size: 16px;
  font-weight: bold;
}

.hotel-filter ul {
  margin: 0;
  list-style: none;
}

.hotel-filter .hotel-feature {
  width: 150px;
  margin-right: 10%;
}

.hotel-filter-option {
  position: relative;
  margin-bottom: 25px;
}

.hotel-filter-option:last-child {
  margin-bottom: 0;
}

.filter-checkbox::after {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: -40px;
  top: -2px;

  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-input-checkbox:checked + .filter-checkbox::after {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.fieldset-wrapper {
  margin-left: auto;
  width: 34%;
  /*width: 220px;*/
  max-width: 318px;
}

.fieldset-wrapper legend {
  margin-bottom: 11px;
}

.price-range {
  position: relative;

  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-range::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.price-range label {
  display: inline-block;
  width: 80px;
  max-width: 27%;
  padding-left: 21%;

  font-size: 14px;
  line-height: 21px;

  vertical-align: middle;
}

.price-range .price-filter {
  width: 50px;
  max-width: 50%;
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 33px;
}

.price-range-button {
  box-sizing: content-box;

  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.price-range-button:hover {
  transform: scale(1.1);
}

.button-from {
  left: 0;
}

.button-to {
  left: 80%;
}

.range-controls .scale {
  height: 2px;

  background-color: rgba(255, 255, 255, 0.3);
}

.price-range-line {
  width: 80%;
  height: 2px;

  background-color: #ffffff;
}

.hotel-filter-button {
  display: block;
  max-width: 50%;
  margin: 0;
  margin-left: 27%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10.5%;
  padding-right: 10.5%;

  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.hotel-filter-button:hover,
.hotel-filter-button:focus {
  color: #000000;

  background-color: #ffffff;
}

.hotels-sort-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 88%;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 30px;
  padding-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;

  box-shadow: 0 1px 1px 0 #e4e4e4;
}

.hotels-sort-wrapper > p {
  margin: 0;
  margin-right: 48px;
}

.hotels-found ul {
  list-style: none;
}

.hotels-found-list {
  padding: 0;
}

.hotels-sort {
  display: flex;
  margin-right: auto;
  flex-grow: 1;

  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.hotels-sort p {
  margin: 0;
}

.hotels-sort-list {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding-left: 5px;
}

.hotels-sort-function {
  padding-left: 33px;
}

.hotels-sort-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 2px dotted #81b3d2;
}

.hotels-sort-list a:hover,
.hotels-sort-list a:focus {
  color: #81b3d2;
}

.hotels-sort-list a:active {
  color: #000000;
  border-bottom: none;
}

.sort-active a {
  color: #81b3d2;
  border-bottom: none;
}

.hotels-sort-order {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.sort-order-up a {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-right: 12px;

  vertical-align: top;
}

.sort-order-down a {
  display: inline-block;
  width: 11px;
  height: 10px;

  vertical-align: top;
}

.sort-order-up a:hover path,
.sort-order-down a:hover path,
.sort-order-up a:focus path,
.sort-order-down a:focus path {
  fill: #231F20;
}

.sort-order-up a:active path,
.sort-order-down a:active path,
.sort-order-up a:active path,
.sort-order-down a:active path {
  fill: #81b3d2;
}

.hotels-sort-order a.current path {
  fill: #81b3d2;
}

.hotels-found-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
}

.hotels-found-item {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;

  width: 100%;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 6%;
  padding-right: 6%;

  box-shadow: 0 1px 1px 0 #e4e4e4;;
}

.hotels-found-info {
  margin-left: 31px;

  vertical-align: center;
}

.hotels-found-info h3 {
  margin: 0;
  margin-bottom: 8px;
}

.hotels-brief-info {
  display: flex;
  margin-bottom: 14px;
}

.hotels-found-info a {
  font-size: 21px;
  font-weight: bold;
  line-height:  26px;
  color: #000000;
}

a.hotels-found-heading:hover,
a.hotels-found-heading:focus {
color: #81b3d2;
}

a.hotels-found-heading:active {
color: rgba(0, 0, 0, 0.3);
}

.hotels-found-type {
  min-width: 114px;
}

.hotels-found-img {
  order: -1;
  margin-top: 6px;
}

.hotels-found-img img {
  display: block;
}

.hotels-found-rating {
  margin-left: auto;

  color: #666666;
}

.stars {
  width: 18px;
  height: 17px;
  margin-top: 5px;
  margin-bottom: 47px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  margin-left: auto;
}

.stars-4 {
  width: 87px;

  background-repeat: space;
}

.stars-3 {
  width: 64px;

  background-repeat: space;
}

.stars-2 {
  width: 41px;

  background-repeat: space;
}

.rating {
  display: block;
  padding: 3px 14px;

  background-color: #f2f2f2;
}

.hotels-found-buttons a {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.details-button {
  display: inline-block;
  padding: 3px 16px;

  background-color: #81b3d2;

  vertical-align: top;
}

.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}

.details-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.book-button {
  display: inline-block;
  height: 21px;
  padding: 3px 16px;
  margin-left: 4px;

  background-color: #766357;

  vertical-align: top;
}

.book-button:hover,
.book-button:focus {
  background-color: #604e43;
}

.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}


/*Футер*/

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 38px;
  padding-bottom: 34px;

  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-index {
  position: relative;
  margin-top: -120px;
}

.footer-social {
  width: 33%;
  text-align: center;
}

.footer-social ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;


  list-style: none;
}

.footer-social li:not(:last-child) {
  margin-right: 6px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path{
  fill: rgba(255, 255, 255, 0.3);
}

.footer-hashtag {
  width: 33%;
  margin: 0;
  text-align: center;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  margin: 0;

  text-align: center;
}

.footer-copyright span {
  margin-right: 10px;

  line-height: 26px;
  color: #000000;
}

.main-footer-logo svg {
  fill: #231f20;
}

.main-footer-logo:hover svg,
.main-footer-logo:focus svg {
  fill: #81b3d2;
}

.main-footer-logo:active svg {
  fill: #bdbbbc;
}
